body {
    font-family: Arial, sans-serif;
    /*background-color: #f4f4f4;*/
    background: url('A2_1.png') no-repeat left center/cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .container {
    background-color: rgba(200, 255, 250, 0.45);
    padding: 2rem;
    
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  input {
    padding: 0.5rem;
    width: 80%;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #2d9467;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2d9467;
  }
  
  #result {
    margin-top: 1rem;
    font-weight: bold;
    color: #2c3e50;
  }
  